<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <SDL3BaseDir Condition="$(SDL3BaseDir)==''">$(SolutionDir)..\..\SDL3</SDL3BaseDir>
    <SDL3netBaseDir Condition="$(SDL3netBaseDir)==''">$(SolutionDir)..\..\SDL3_net</SDL3netBaseDir>
  </PropertyGroup>
</Project>
